html {
  --accent: #3e5294;
  /* */
  --background: #111;
  --font-color: #999;
}

table {
  background: var(--background);
  color: var(--font-color);
}

ul, li, a {
  list-style: none;
  text-decoration: none;
}

a {
  color: var(--accent);
}

/* Hide */
#headerImage {
  display: none;
}